.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.border-1{
    /* border: 1px solid #495057; */
    border-bottom: 1px solid #495057;
}

.MUIRichTextEditor-toolbar-13{
    border-bottom: 1px solid #495057;
}

.text-right{
    text-align: right;
}
.cursor-pointer{
    cursor: pointer;
}